<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hope.mapper.AttractionMapper">
    <select id="selectAttractionPage" resultType="com.hope.domain.entity.Attraction">
        SELECT id,name,city,country,address,open_time,adult_ticket_price,child_ticket_price,longitude,latitude,phone,description,stars,rating,tags,ai.image AS mainImage
        FROM attraction LEFT JOIN attraction_image AS ai ON  ai.attraction_id = id AND ai.sort_order = 1
        <where>
            <if test="keyword != null">AND name LIKE CONCAT('%', #{keyword}, '%')</if>
            <if test="city != null">AND city = #{city}</if>
            <if test="tags != null and tags.size() > 0">
                AND (
                <foreach collection="tags" item="tag" separator="OR">
                    FIND_IN_SET(#{tag}, tags) > 0
                </foreach>
                )
            </if>
            <if test="stars != null">AND stars = #{stars}</if>
        </where>
    </select>

    <select id="selectAttractionByCity" resultType="com.hope.domain.vo.AttractionInfo">
        SELECT id,name,city,address,open_time,adult_ticket_price AS price,stars,rating,tags,ai.image AS image
        FROM attraction LEFT JOIN attraction_image AS ai ON  ai.attraction_id = id AND ai.sort_order = 1
        <where>
            <if test="city != null">AND city = #{city}</if>
        </where>
    </select>

    <select id="findAttractionImage" resultType="java.lang.String">
        SELECT image FROM attraction_image WHERE attraction_id = #{attractionId} ORDER BY sort_order ASC
    </select>
</mapper>