<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hope.chufala.mapper.PayRecordMapper">


    <select id="selectByOrderId" resultType="com.hope.chufala.model.entity.PayRecord">
        SELECT * FROM pay_record WHERE order_id = #{orderId}
        ORDER BY CASE WHEN status = 'WAIT_PAY' THEN 1 ELSE 0 END, id DESC LIMIT 1
    </select>

    <select id="selectByOrderIdForUpdate" resultType="com.hope.chufala.model.entity.PayRecord">
        SELECT * FROM pay_record WHERE order_id = #{orderId}
        ORDER BY CASE WHEN status = 'WAIT_PAY' THEN 1 ELSE 0 END, id DESC FOR UPDATE
    </select>
</mapper>
